* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: 3rem auto;
	font-family: 'Segoe UI';
}

.back-to-homepage {
	font-size: 18px;
	color: #1098ad;
	text-decoration: none;
}

.back-to-homepage:hover {
	text-decoration: underline;
}

.blog-heading {
	margin-top: 1rem;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 2px;
}

.blog-subheading {
	margin-top: 1rem;
	font-weight: 200;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}

.blog-body,
li,
p {
	color: #333;
	line-height: 1.8;
	word-spacing: 1px;
}

/* float.html */
.blog-list {
	margin-left: 30px;
}

.blog-list li {
	margin: 1rem 0;
	line-height: 1.8;
}

.example-parent {
	display: flex;
	justify-content: center;
}

.example {
	margin-top: 10px;
	border-radius: 10px;
	padding-left: 10px;
	width: 500px;
	background-color: #000;
	color: #fff;
}

.padding-tab {
	padding-left: 2rem;
}
